/* Universal Selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Element Selectors */
body { /* changes background color of selected element */
    background-color: #d9dcd6;
}

header { /* creates style for header including padding, background color, text color, and font family */
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

h1 { /* adjusts font size and display (to include top and bottom margins) of h1 element  */ 
    display: inline-block;
    font-size: 48px;
}

a { /* changes font color and removes decoration of links in header menu */ 
    color: #ffffff;
    text-decoration: none;
}

p { /* adjuts font size of all paragraph elements */ 
    font-size: 16px;
}

menu { /* creates defined area and styling for menu element in header */
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}

li { /* display header menu items inline-block with left margin to create separation */
    display: inline-block;
    margin-left: 25px;
}

section { /* width takes up 75% of view, displayed in blocks, with left margin */ 
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

article { /* creates artice area  */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

article img { /* defines height of images within artice in px */ 
    max-height: 200px;
}

article h2 { /* defines header within article, bottom margin and font size */
    margin-bottom: 20px;
    font-size: 36px;
}

aside { /* creates defined area and style for aside element */
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
}

aside p { /* applies style to the paragraphs within aside */
    margin-bottom: 32px;
}

aside img { /* applies style to images within aside */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

h3 { /* applies bottom margin and center alignment to headers */
    margin-bottom: 10px;
    text-align: center;
}

footer { /* defines footer padding, font, and center alignment */
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 { /* changes the text size in the header 2 of the footer */
    font-size: 20px;
}

/* Class Selectors */

.seo { /* applies grey text color to selected area */
    color: #d9dcd6; 
}


.hero { /* applies image that takes up 100% of screen width */
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left { /* gives a floating appearance to selected element */
    float: left;
    margin-right: 25px;
}

.float-right { /* gives a floating appearance to selected element */
    float: right;
    margin-left: 25px;
}

